<!-- <nav class="navBar">
    <a href="">Home</a>
    <a href="">Instrumentos</a>
    <a href="">Productos</a>
</nav> -->

<nav class="navBar" id="corrige_padding">
    <ul>
        <li class="animation_nav">
            <a href="">
                Home
            </a>
        </li>
        <li class="animation_nav">
            <a href="" class="">
                Peliculas
            </a>
        </li>
        <li class="animation_nav">
            <a href="" class="" >
                Series
            </a>
        </li>
        <!-- <li><a href="indexNoticias.html" class="animation_nav">Noticias</a></li> -->
        <li class="animation_nav"><a href="" class="">Contacto</a></li>
    </ul>
</nav>