.background-image{
    width: 100%;
    min-height: 100vh;
    height: auto; /* Esto asegura que el contenedor ocupe al menos la altura de la ventana */
    background-image: url('../assets/9_yutyty_1231.jpg');
    background-size: cover;
    background-position: center;
    opacity: 2; 
    /* Ajusta el valor para cambiar la opacidad */


}